
:root {
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;
  
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;

  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;
  
  --font-family: "Inter", serif;
  --title: 700 1.5rem/100% var(--font-family);
  --label: 600 1rem/100% var(--font-family);
  --paragraph: 500 1rem/100% var(--font-family);
  --link: 500 1rem/100% var(--font-family);
}

